
<footer>
<addres id='addres'>
<p id='footer'> 
    
   <img src="/img/logonegro-removebg.png" width="400" height="100"> 

<a href="https://www.facebook.com"><img src="/img/face.png" width="70" height="70">  </a>

<a href="https://www.instagram.com/refrescadorinador/"><img src="/img/insta.png" width="70" height="70">  </a>


</p>
</addres>
</footer>
