<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/Formulario.css'/>
  
      <title>Comentario</title>
</head>
<body class="Body">
    <form action="https://formsubmit.co/youremail@gmail.com" method="post" class="Form">
            <h2>Comentarios</h2>
            
                 <div class="input-group">
                     <label for="name">Nombre</label>
                     <input type="text" name="name" id="name" placeholder="Nombre" required>

                     <label for="phone">Telefono</label>
                     <input type="text" name="phone" id="phone" placeholder="Telefono" required>

                     <label for="email">Email</label>
                     <input type="email" name="email" id="email" placeholder="Email" required>

                     <label for="message">Comentario</label>
                     <textarea name="message" id="message" cols="30" rows="5" placeholder="Comentario" required></textarea> 

                     <input class="btn" type="submit" value="Enviar">

                    <div class="form-txt">
                     <a href="/">Volver al inicio</a>
                    </div>

                     <input type="hidden" name="_next" value="http://localhost:3000/">
                 </div>
        </form>
   
  
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>