<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>   
    <div class="Head">

      <div class="Logo">
          <a href="#">Refrescadorinador</a>
      </div>

           <nav class="Navbar">
              <a href="#">inicio</a>
              <a href="#">nosotros</a>
              <a href="#">contacto</a>
              <a href="#">productos</a>
              <a href="#">precios</a>
           </nav>
  </div>
  <header class="Content Header">
      <h2 class="Title">inicio</h2>
      <p class="p">¿Calor sofocante?, seguramente vives en Venezuela entonces. Olvidate del calor con nuestros expertos en aires acondicionados. Disfruta de un hogar fresco y confortable todo el año</p>
      <div class="Btn-home">
      <a href="#" class="Btn">saber mas</a>
      <a href="#" class="Btn">saber mas</a>
      </div>
  </header>
  <section class="Content Sau">
          <h2 class="Title">¿Que hacemos?</h2>
          <p class="p">Ofrecemos un servicio completo de aires acondicionados: desde la instalacion de sistemas nuevos y eficientes, hasta la reparacion y mantenimieto. Nuestros tecnicos calificados te garantizan un trabajo profecional y de alta calidad :D</p>

          <div class="Box-Container">
              <div class="Box"> 
                  <i class="Fab fa-Angular"></i>
                  <h3>Reparacion</h3>
                  <p>Las reparaciones se vuelven esenciales cuando el equipo presenta fallos como ruido inusuales, perdida de refrijerantes o problemas en el termostato</p>
              </div>
              <div class="Box-Container">
                  <div class="Box"> 
                      <i class="Fab fa-Apple"></i>
                      <h3> Instalacion</h3>
                      <p>La correcta instalacion de un sistema de aire acondicionado garantiza su eficiencia y rendimiento, permitiendo estar frescos en estos meses de calor </p>
                  </div>

              </div>
          </div>
  </section>

  <section class="Content About">
          <h2 class="Title">nosotros</h2>
          <p>Las reparaciones de aires acondicionados ofrecen numerosos beneficios, incluyendo mayor eficiencia menor consumo energetico y mejor calidaddel aire interior</p>
          <a href="#" class="Btn">saber mas</a>
  </section>
   
  <section class="Content Price">

      <article class="Contain">
          <h2 class="Title"> precios </h2>
          <p>Contamos con una alta variedad de precios dependiendo del tipo de servicio solicitado,el equipo a reparar y, la marca y el modelo; nos amoldamos a nuestros clientes y sus necesidades</p>
          <a href="#" class="Btn">saber precios</a>
      </article>
  </section>

  <section class="Content Contac">
      <h2 class="Title">contactanos o Ubicanos</h2>
      <p>Contamos con un equipo de tecnicos que esta disponible las 24/7 para solucionar cualquier emergencia. Para que vuelvas a disfrutar de tu ambiente fresco en poco tiempo contactanos al <span style="color: rgb(0, 118, 178);">0246-5335087</span> </p>
      <figure class="carrito">
           <img src="images/Aireacondisoplao.jpg" height="200px" width="600px" alt="carrito">
      </figure>
  </section>
  <footer>
      <div class="Social-Media">
              <a href="https://www.facebook.com/profile.php?id=61575389652367" class="btn facebook" target="_blank">facebook</a>
              <a href="https://www.instagram.com/refrescadorinador/" class="btn instagram" target="_blank">instagram</a>
      </div>
  </footer>
  <footer>
    <h3> copyright Destry2_xd </h3>
  </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
