<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/precios.css'/>
    <title>Servicios de Aires</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

        * {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            vertical-align: baseline;
            font-family: "Open Sans";
        }

        .body {
            text-align: center;
            font-family: sans-serif;
            background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 15, 89) 100%);
        }

        .Head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 65px;
            background: #000;
            width: 100%;
        }

        .Navbar {
            display: flex;
            margin-right: 15px;
        }

        .Logo a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-size: 20px;
        }

        .header {
            height: 200px;
            background: url('../images/aire img.jpg') no-repeat center center;
            background-size: cover;
            margin-bottom: 100px;
        }

        .header h1 {
            color: #fff;
            padding: 30px 0;
            text-shadow: 1px 1px 0px black, -1px -1px 0px black;
        }

        .contenedor {
            max-width: 1200px;
            margin: auto;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }

        .contenedor-item {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            grid-gap: 30px;
            margin-top: 30px;
        }

        .item {
            padding: 20px;
            border: 1px solid #fff;
            border-radius: 10px;
            background: #b0b0b0;
            transition: .3s;
        }

        .item:hover {
            box-shadow: 0 0 10px #0066ff;
            transform: scale(1.05);
        }

        .img-item {
            width: 100%;
        }

        .titulo-item, .precio-item {
            display: block;
            text-align: center;
            font-weight: bold;
        }

        .boton-item {
            background: black;
            color: #fff;
            padding: 5px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: block;
            margin: 10px auto;
        }

        .carrito {
            border: 1px solid #666;
            width: 35%;
            margin-top: 30px;
            border-radius: 10px;
            background: white;
            position: sticky;
            top: 0;
        }

        .header-carrito {
            background-color: #000;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }

        .carrito-item {
            display: flex;
            align-items: center;
            padding: 20px;
            border-bottom: 1px solid #666;
        }

        .carrito-item .btn-eliminar {
            margin-left: auto;
            cursor: pointer;
        }

        .carrito-total {
            background-color: #939393;
            padding: 30px;
        }

        .btn-pagar {
            background: black;
            color: #fff;
            padding: 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            transition: .3s;
        }

        .btn-pagar:hover {
            transform: scale(1.05);
        }

        @media screen and (max-width: 850px) {
            .contenedor {
                display: block;
            }
            .carrito {
                width: 100%;
            }
        }
    </style>
</head>
<body class="body">
    <div class="Head">
        <div class="Logo">
            <a href="#"><img src="images/logonegro-removebg.png" height="80px" width="250px"></a>
        </div>
        <nav class="Navbar">
            <a href="/">inicio</a>
            <a href="https://www.google.com/">Salir</a>
            <a href="/Formulario">comentar</a>
            <a href="/productos">productos</a>
            <a href="/precios">precios</a>
        </nav>
    </div>

    <header class="header">
        <h1>Servicios de aires</h1>
    </header>

    <section class="contenedor">
        <div class="contenedor-item">
            <div class="item">
                <span class="titulo-item">aire de techo cassete</span>
                <img src="images/1.jpg" alt="" class="img-item">
                <span class="precio-item">150$</span>
                <button class="boton-item">seleccionar servicio</button>
            </div>
            <div class="item">
                <span class="titulo-item">aire mini y multisplit</span>
                <img src="images/2.jpg" alt="" class="img-item">
                <span class="precio-item">200$</span>
                <button class="boton-item">seleccionar servicio</button>
            </div>
            <div class="item">
                <span class="titulo-item">aire de ventana</span>
                <img src="images/3.jpg" alt="" class="img-item">
                <span class="precio-item">70$</span>
                <button class="boton-item">seleccionar servicio</button>
            </div>
            <div class="item">
                <span class="titulo-item">aire portatil</span>
                <img src="images/4.jpg" alt="" class="img-item">
                <span class="precio-item">30$</span>
                <button class="boton-item">seleccionar servicio</button>
            </div>
            <div class="item">
                <span class="titulo-item">aire de conducto</span>
                <img src="images/port6.jpg" alt="" class="img-item">
                <span class="precio-item">100$</span>
                <button class="boton-item">seleccionar servicio</button>
            </div>
            <div class="item">
                <span class="titulo-item">mini aire de mesa</span>
                <img src="images/port7.jpg" alt="" class="img-item">
                <span class="precio-item">15$</span>
                <button class="boton-item">seleccionar servicio</button>
            </div>
            <div class="item">
                <span class="titulo-item">aire de piso-techo</span>
                <img src="images/port8.jpg" alt="" class="img-item">
                <span class="precio-item">50$</span>
                <button class="boton-item">seleccionar servicio</button>
            </div>
            <div class="item">
                <span class="titulo-item">aire de azotea</span>
                <img src="images/port9.jpg" alt="" class="img-item">
                <span class="precio-item">200$</span>
                <button class="boton-item">seleccionar servicio</button>
            </div>
        </div>

        <div class="carrito">
            <div class="header-carrito">
                <h2>Servicio seleccionado</h2>
            </div>
            <div class="carrito-items"></div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>tu total es:</strong>
                    <span class="carrito-precio-total">$0.00</span>
                </div>
                <a href="/formulario_pago"><<button class="btn-pagar">pagar</button></a>
            </div>
        </div>
    </section>

    <script>
        var carritoVisible = false;

        if (document.readyState === "loading") {
            document.addEventListener("DOMContentLoaded", ready);
        } else {
            ready();
        }

        function ready() {
            var botonesAgregarAlCarrito = document.getElementsByClassName("boton-item");
            for (var i = 0; i < botonesAgregarAlCarrito.length; i++) {
                var button = botonesAgregarAlCarrito[i];
                button.addEventListener("click", agregarAlCarritoClicked);
            }

            document.getElementsByClassName("btn-pagar")[0].addEventListener("click", pagarClicked);
        }

        function agregarAlCarritoClicked(event) {
            var button = event.target;
            var item = button.parentElement;
            var titulo = item.getElementsByClassName("titulo-item")[0].innerText;
            var precio = item.getElementsByClassName("precio-item")[0].innerText;
            var imagenSrc = item.getElementsByClassName("img-item")[0].src;
            agregarItemAlCarrito(titulo, precio, imagenSrc);
            hacerVisibleCarrito();
        }

        function agregarItemAlCarrito(titulo, precio, imagenSrc) {
            var itemsCarrito = document.getElementsByClassName("carrito-items")[0];
            var itemCarritoContenido = `
                <div class="carrito-item">
                    <img src="${imagenSrc}" alt="" width="80px">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">${titulo}</span>
                        <span class="carrito-item-precio">${precio}</span>
                    </div>
                    <span class="btn-eliminar"><i class="fa-solid fa-trash"></i></span>
                </div>
            `;
            itemsCarrito.insertAdjacentHTML('beforeend', itemCarritoContenido);
            actualizarTotalCarrito();
            itemsCarrito.lastChild.getElementsByClassName("btn-eliminar")[0].addEventListener("click", eliminarItemCarrito);
        }

        function eliminarItemCarrito(event) {
            var buttonClicked = event.target;
            buttonClicked.parentElement.parentElement.remove();
            actualizarTotalCarrito();
        }

        function actualizarTotalCarrito() {
            var carritoContenedor = document.getElementsByClassName("carrito")[0];
            var carritoItems = carritoContenedor.getElementsByClassName("carrito-item");
            var total = 0;
            for (var i = 0; i < carritoItems.length; i++) {
                var item = carritoItems[i];
                var precioElemento = item.getElementsByClassName("carrito-item-precio")[0];
                var precio = parseFloat(precioElemento.innerText.replace("$", "").replace(".", ""));
                total += precio;
            }
            total = Math.round(total * 100) / 100;
            document.getElementsByClassName("carrito-precio-total")[0].innerText = "$" + total.toLocaleString("es") + ".00";
        }

        function pagarClicked() {
            alert("Gracias por tu compra");
            var carritoItems = document.getElementsByClassName("carrito-items")[0];
            while (carritoItems.hasChildNodes()) {
                carritoItems.removeChild(carritoItems.firstChild);
            }
            actualizarTotalCarrito();
        }

        function hacerVisibleCarrito() {
            carritoVisible = true;
            var carrito = document.getElementsByClassName("carrito")[0];
            carrito.style.marginRight = "0";
            carrito.style.opacity = "1";
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
