<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/productos.css'/>

    <title><%= title %></title>
</head>
<body class="body">
    
    <div class="Head">

        <div class="Logo">
            <a href="#"><img src="images/logonegro-removebg.png" height="80px" width="250px"></a>
        </div>

             <nav class="Navbar">
                <a href="/">inicio</a>
                <a href="https://www.google.com/">Salir</a>
                <a href="/Formulario">comentario</a>
                <a href="/productos">productos</a>
                <a href="/precios">precios</a>
             </nav>
    </div>

     <header class="Content_header">
        <H2 class="Title">¿que tipo de aires reparamos?</H2>
        <p class="P">Aca en esta pestaña te presentamos nuetra amplia variedad de aires acondicionados y sus diferentes modelos de cada uno de ellos a los que les aplicamos un servicio de reparación y/o instalación.</p>
    </header>

    <div class="Carousel">
        <div class="Warp">
            <img src="images/1.jpg" alt="">
            <img src="images/2.jpg" alt="">
            <img src="images/3.jpg" alt="">
            <img src="images/4.jpg" alt="">
            <img src="images/port6.jpg" alt="">
            <img src="images/1.jpg" alt="">
            <img src="images/2.jpg" alt="">
            <img src="images/3.jpg" alt="">
            <img src="images/4.jpg" alt="">
            <img src="images/port6.jpg" alt="">
            
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>