.body {
    background:url('../images/Minimalista.jpg') center;
}

.card-custom {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header-custom {
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 15, 89) 100%);
    color: white;
    border-radius: 15px 15px 0 0;
}

.btn-custom {
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 15, 89) 100%);
    color: white;
    border: none;
    transition: all 0.3s ease;
}


.btn-custom:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.error-message {
    display: none;
    background-color: #0048ff;  
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.success-message {
    display: none;
    background-color: #2852a7;  
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.input-error {
    border: 2px solid rgb(255, 0, 111) !important;
    transition: border 0.3s ease;
}

.input-valid {
    border: 2px solid rgb(0, 68, 255) !important;
}

