
*¨{
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  vertical-align: Baseline;

}

body {
  text-align: Center ;
  font-family: Sans-Serif;
  padding: 0%;
  margin: 0%;
}

.Head {
  display: Flex;
  align-items: Center;
  justify-content: Space-between;
  height: 65px;
  background: #171717;
  position: fixed;
  width: 100%;
  z-index: 100px ;
}

.Navbar {
  display: Flex;
  margin-right: 15px;
}

.Logo {
  margin-left: 30px;
}

.Logo a {
  text-decoration: None;
  color: #fff;
  text-transform: Uppercase;
  font-size: 20px;
}

.Navbar a {
  display: Block;
  padding: 25px 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.Navbar a:hover {
  background: #5a5959;
}

.Header {
  display: Flex;
  justify-content: Center;
  align-items: Center;
}

.Header {
  height: 50vh !important;
  background: url(images/Aireacondisoplao.jpg) center;
  background-size: cover;
}

.Title {
  margin-bottom: 30px;
  font-size:50px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  text-shadow: #101010;
}

.p {
  text-shadow: 1px 1px 0px black, 
  -1px -1px 0px black,
  1px -1px 0px black, 
  -1px 1px 0px black;
}


p {
  margin-bottom: 40px;
  font-size: 18px;
  color: #fff;
  padding:0 100px ;
}

.Btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid #4973fe ;
  color: #fff;
  text-decoration: none;
  background: #4973fe ;
}

.Btn:hover{
  background: none;
}

.Btn-Home {
  display: flex;
}

.Btn-Home {
  margin:0 10px ;
}

.Content {
  height: 50vh;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}

.Sau { 
  padding: 30px;
  background: #272323;
  margin-top: 50px;
}

.Content .Title {
  margin-top: 50px;
}

.Box-Container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.Box-Container .Box {
  height: 11rem;
  width: 17rem;
  background: #1c1c1c;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 .3rem 5rem  rgba(86, 76, 76, 0.5);
  margin: 2rem;
}

.Box-Container .Box i {
  height: 3rem;
  width: 3rem;
  line-height: 3rem ;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  background: #4973fe;
  font-size: 2rem;
  margin: 1rem 0;
}

.Box-Container p {
  text-shadow: 1px 1px 0px black, 
  -1px -1px 0px black,
  1px -1px 0px black, 
  -1px 1px 0px black;
}

.Content Sau p {
  text-shadow: 1px 1px 0px black, 
  -1px -1px 0px black,
  1px -1px 0px black, 
  -1px 1px 0px black;
}

.Box-Container .Box h3 {
  font-size: 20px;
  color: #12aee2;
  text-shadow: 1px 1px 0px black, 
  -1px -1px 0px black,
  1px -1px 0px black, 
  -1px 1px 0px black;
}

.Box-Container .Box p {
  padding: 0 15px ;
  font-size: 15px;
}

.About {
  background: #101010;
}

.Price {
  text-align: center;
  display: Flex;
  justify-content: Center;
  align-items: Center;
}

.Content_Price img {
  height: 50hv !important;
  background-attachment: fixed;
  background-size: cover;
}

.Contac {
  padding: 20px;
  background: #000000;
  padding-bottom: 0px;
}

@media (max-width: 768px){
  .Title {
      margin-bottom: 0px;
      font-size: 40px;
  }
  .Sau {
      height: 120vh;
  }
  .Navbar {
      display: none;
  }
}

.Contain p {
  text-shadow: 1px 1px 0px black, 
  -1px -1px 0px black,
  1px -1px 0px black, 
  -1px 1px 0px black;
}

.Content About p {
  text-shadow: 1px 1px 0px black, 
  -1px -1px 0px black,
  1px -1px 0px black, 
  -1px 1px 0px black;
}

.Social-Media {
  display: flex;
  gap: 20px;
  position: absolute;
}

.btn {
  text-decoration: none;
  color: white;
  padding: 20px 30px;
  border-radius: 5px;
  transition: background-color 0.3 ease;
  height: 20px;
  width: 100px;
  text-align:center;
}

.facebook {
  background-color: #3b5998 ;
}
.facebook :hover{
  background-color:#2d4373;
}

.instagram {
  background-color: #e4405f;
}
.instagram:hover{
  background-color: #d32e4e;
}

